<?xml version="1.0"?>
<model>
  <name>Quadrotor DC</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>Evan Kaufman</name>
   <email>evantkaufman@gmail.com</email>
  </author>

  <description>
    Quadrotor robot that takes pose commands directly X = (x,R)
  </description>
</model>

