<?xml version="1.0"?>

<launch>

  <!-- Default Param: don't explore yet-->
  <rosparam command="load" file="$(find ogm_ae)/config/maps_gazebo.yaml"   />
  <rosparam command="load" file="$(find ogm_ae)/config/exploration.yaml"   />
  <rosparam command="load" file="$(find ogm_ae)/config/depth_sensors.yaml" />
  <param name="exploration/robot_frame"     value="base_link" />
  <param name="run_autonomous_exploration"  value="true"      />

  <!-- Entropy-Based Autonomous Exploration -->
  <node pkg="entropy_based_exploration" name="entropy_based_autonomous_exploration" type="entropy_based_autonomous_exploration" output="screen"></node>

</launch>
