<?xml version="1.0"?>

<launch>
  <rosparam command="load" file="$(find voxel)/config/maps.yaml"          />
  <rosparam command="load" file="$(find voxel)/config/exploration.yaml"   />
  <rosparam command="load" file="$(find voxel)/config/depth_sensors.yaml" />


  <!-- Sensor Data Conversion -->
  <include file="$(find ogm_ae)/launch/filter_pcl_voxel_grid.launch" />
  <include file="$(find ogm_ae)/launch/msg_conversions.launch">
    <arg name="pcl_name" value="/camera/depth_registered/points"/>
  </include>

  <!-- Mapping -->
  <node pkg="ogm_ae" name="probabilistic_occupancy_grid_mapping" type="probabilistic_occupancy_grid_mapping" output="screen"></node>
  <node pkg="entropy_based_exploration" name="generate_exploration_map" type="generate_exploration_map" output="screen"></node>

  <!-- Visualization -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find ogm_ae)/rviz/exploration_experiment.rviz"/>
  <node pkg="ogm_ae" name="generate_3D_rviz_msgs" type="generate_3D_rviz_msgs" output="screen"/>


  <param name="do_yaw_rotation" type="bool" value="false" />

</launch>
