<?xml version="1.0"?>

<launch>

  <!-- RViz -->
  <node pkg="rviz" type="rviz" name="rviz_coll" args="-d $(find ogm_ae)/rviz/test_namespaces.rviz"/>

  <!-- Robot Colors -->
  <param name="robot_description_red"  command="cat $(find fdcl_test)/robot_description/visual/robot_red.xml"  />
  <param name="robot_description_blue" command="cat $(find fdcl_test)/robot_description/visual/robot_blue.xml" />

  <!-- Map Cell Conversion for Visualization -->
  <node pkg="ogm_ae" name="generate_3D_rviz_msgs" type="generate_3D_rviz_msgs" output="screen" />

</launch>
