<?xml version="1.0"?>

<launch>

<!-- include file="$(find fdcl_test)/launch/xtion_rectify.launch" />
<include file="$(find fdcl_test)/launch/tfs_gwu.launch" />
<include file="$(find fdcl_test)/launch/tfs_openni2.launch" / -->

<node pkg="rviz" type="rviz" name="rviz_demo" args="-d $(find ogm_ae)/rviz/SEH_demo.rviz"/>


</launch>
